header{
  overflow: hidden;
  background-color: black;
}
.logo{
  width: 25%;
  height: 220px;
  float: left;
  background-color: black;
}
.Logoimg{
  width: 65%;
  height: 220px;
}
.menu{
  width: 15%;
  height: 120px;
  float: left;
  background-color: black;
  text-align: center;
  padding-top: 100px;
}
.menu a:hover{
  font-size: 15px;
  text-decoration: none;
  background-color: white;
  color: black;
}
.menu a{
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin-top: 20px;
}

main{
  overflow: hidden;
}
.contenedora{
  width: 100%;
  float: left;
  margin: 5px 0px 5px 0px;
}
.titulo{
  font-size: 150%;
  text-align: center;
  margin-right: 40px;
}
.traduccion{
  text-align: center;
  margin-right: 40px;
}
.parrafo{
  width: 50%;
  float: left;
  padding: 20px;
  text-align: justify;
}
.slider{
  width: 50%;
  float: left;
}
.mySlides {display:none;
  width: 100%;
}
footer{
  background-color: black;
  color: white;
}
.box{
  overflow: hidden;
}
.IZQ{
  width: 50%;
  float: left;

}
.DER{
  width: 50%;
  float: left;

}
