*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  width: 100%;
}
.logo img{
  width: 15%;
}
.menu{
  float: left;
  width:  20%;
  height: 20px;
  text-align: center;
}
.menu a {
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.contenedor{
  overflow: hidden;
  border: 2px solid black;
}

  .boton{
    width: 15%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-top:30px;
    padding:15px;
    border-radius: 20px;
  }

  .boton a{
    text-decoration: none;
    color: black;
  }



.trufas.chocolate{
  width: 20%;
  height: 300px;
}
.info img{
  width: 20%;
  height: 300px;
}
footer{
  color: white;
  margin-top: 10px;
  }
  .box{
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .IZQ{
    width: 47%;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(173, 130, 101);
  }
  .IZQ p{
    text-align: center;
    padding-right: 20px;
    padding-bottom: 3px;
    font-size: 15px;
  }
  .logocole{
    width: 6%;
    float: left;
  }
  .logocole img{
    width: 75%;
  }
  .DER{
    width: 47%;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(173, 130, 101);
  }
  .DER p{
    text-align: center;
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: 15px;
  }
