* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.maincontainer {
overflow: hidden;
margin: 50px 0px 0px 15%;
}


.menumaticas {
  width: 40%;
  height: 300px;
  float: left;
  background-image: url("img/menumatics.jpg");
  background-size: auto;
  margin-right: 5px;
}

.chetamos {
  width: 40%;
  height: 300px;
  float: left;
  background-image: url("img/htmlcss.jpg");
  background-size: auto;
  margin-left: 5px;
}

.chetamos p {
  background-color: rgba(200,200,200,0.7);
  padding:5px;
  font-size: 15px;
  font-weight:200;
}

.menumaticas p {
  background-color: rgba(200,200,200,0.7);
  padding:5px;
  font-size: 15px;
  font-weight:200;
}


.chetamos h4 {
  background-color: rgba(200,200,200,0.7);
  padding:5px;
  font-size: 30px;
}

.menumaticas h4 {
  background-color: rgba(200,200,200,0.7);
  padding:5px;
  font-size: 30px;
}
