/* GENERALES*/
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans+Condensed:300|Poppins&display=swap');

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  }

a{
  color:inherit;
}


/*MENU DE CURSOS*/
.maincontainer {
overflow: hidden;
margin: 20px 0px 0px 15%;
height: 400px;
}


.menumaticas {
  width: 40%;
  height: 300px;
  float: left;
  background-image: url("img/menumatics.jpg");
  background-size: auto;
  margin-right: 5px;
  background-position: 0px -40px;
  filter: brightness(50%);
  filter: grayscale(50%);
}

.menumaticas:hover {
  filter: brightness(100%);
  filter: grayscale(0%);
  transition: 1s;
}

.chetamos {
  width: 40%;
  height: 300px;
  float: left;
  background-image: url("img/htmlcss.jpg");
  background-size: auto;
  margin-left: 5px;
  background-position: 0px -10px;
  filter: brightness(50%);
  filter: grayscale(50%);
}

.chetamos:hover {
  filter: brightness(100%);
  filter: grayscale(0%);
  transition: 1s;
}

.chetamos p {
  background-color: rgba(200,200,200,0.7);
  padding:9px;
  font-size: 17px;
  font-weight:200;
}

.menumaticas p {
  background-color: rgba(200,200,200,0.7);
  padding:9px;
  font-size: 17px;
  font-weight:200;
}


.chetamos h4 {
  background-color: rgba(200,200,200,0.7);
  padding:9px;
  font-size: 30px;
}

.menumaticas h4 {
  background-color: rgba(200,200,200,0.7);
  padding:9px;
  font-size: 30px;
}


/*LANDING ZONE*/

.inicioprimero{
   width: 100%;
   background-image: url("img/inicioprimeroback.png");
   height: 200px;
   padding: 90px;
}

#landingano {
  font-size: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
#landingtitulo{
  font-size: 60px;
  color: pink;
  font-family: 'Open Sans Condensed', sans-serif;
}
#landingtxt{
  font-size: 20px;
  color: grey;
  font-family: 'Bebas Neue', cursive;
}

#logogoe{
  width: 7%;
  margin-left: 1100px;
  margin-top: -132px;
}
