*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chefsito{
  width: 16%;
  height: 150px;
background-color: #8bc3cc;
float: right;
text-align: center;
padding-top: 60px;
  }

  .chefsito a{
    color: black;
  }
  body{
    font-family: 'Quicksand', sans-serif;
  }


  .chefsito a:hover{
    font-size: 15px;
    color: green;
  }

  .chef{
    width: 20%;
    height: 150px;
    background-color: #9f6aa6;
    float:right;
  }

header{
  overflow: hidden;
}

.chefimagen{
  height: 150px;
  width: 100%;
}
.contenedora{
  overflow: hidden;
  background-color: #C9EFEB ;
}

.imagen{
  float: left;
  width: 30%;
}

.imagen img{
  width: 100%;
}
.texto{
  float: left;
  width: 70%;
}
.pink{
  color:#D35757 ;
}

.mision{

}
.foto{
  width: 15%;
  float: left;
  height: 100px;
}
.nombres{
  width: 35%;
  float: left;
}
footer{
  overflow:hidden;
  color: black;
}
.foto img{
  width: 100%;
  height: 100%
}
.box{
   overflow: hidden;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
 }
 .IZQ{
   width: 45%;
   float: left;
   margin-top: 2px;
   margin-bottom: 2px;
   padding-top: 15px;
   padding-bottom: 5px;
   background-color: #94d649;
 }
 .IZQ p{
   text-align: center;
   padding-right: 20px;
   padding-bottom: 3px;
   font-size: 15px;
 }
 .logocole{
   width: 10%;
   float: left;
   text-align: center;
 }
 .logocole img{
   width: 60%;
   height:60%;
   padding-top: 10px;
 }
 .DER{
   width: 45%;
   float: left;
   margin-top: 2px;
   margin-bottom: 2px;
   padding-top: 15px;
   padding-bottom: 5px;
   background-color: #94d649;
 }
 .DER p{
   text-align: center;
   padding-left: 20px;
   padding-bottom: 3px;
   font-size: 15px;
 }
